{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<div class="row justify-content-center mt-5">
  <div class="col-md-6">
    <div class="card shadow bg-light text-dark text-center p-4">
      <h1 class="mb-4">🎉 Bienvenidos a nuestra página</h1>

      <img src="{% static 'foto.jpg' %}" alt="Imagen bienvenida" class="img-fluid mb-4" style="max-width: 300px; margin: 0 auto;">

      <p class="lead">
        Esta es nuestra página realizada con <strong>Django</strong> para el examen de <strong>Cloud Computing</strong>.
      </p>
    </div>
  </div>
</div>

{% endblock %}
